In [1]:
import requests
import pandas as pd
from datetime import datetime, timedelta, timezone
import sqlalchemy as sa

In [2]:
# API key and base URL for current weather data
api_key = 'c756d51099cdad8ddc92560cc334012c'
api_url = 'https://api.openweathermap.org/data/2.5/weather'

# Database connection
engine = sa.create_engine('mssql+pyodbc://username:password@server/database')

/var/folders/v8/61xx6l9j6t3bbm3w1j9thf480000gn/T/ipykernel_21684/3824998136.py:6: SAWarning: No driver name specified; this is expected by PyODBC when using DSN-less connections
  engine = sa.create_engine('mssql+pyodbc://username:password@server/database')

In [3]:
# Load all postal codes from the CSV
postal_codes_df = pd.read_csv('/Users/Saki/Desktop/ca_geo_dimension.csv')

# Filter for postal codes in Toronto
toronto_postal_codes_df = postal_codes_df[postal_codes_df['region'].str.contains("Toronto", case=False)]

# For now, select a subset of 15 postal codes
subset_size = 15
use_all_postal_codes = False  # Set this to True to process all postal codes

if use_all_postal_codes:
    selected_postal_codes = toronto_postal_codes_df
else:
    selected_postal_codes = toronto_postal_codes_df.sample(n=subset_size, random_state=1)

# Convert the selected postal codes to a list of dictionaries
postal_codes = selected_postal_codes.to_dict('records')

/var/folders/v8/61xx6l9j6t3bbm3w1j9thf480000gn/T/ipykernel_21684/4163593164.py:2: DtypeWarning: Columns (7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  postal_codes_df = pd.read_csv('/Users/Saki/Desktop/ca_geo_dimension.csv')

In [4]:
# Fetch and process data
current_weather_data = []

for location in postal_codes:
    params = {
        'lat': location['latitude'],
        'lon': location['longitude'],
        'units': 'metric',
        'appid': api_key,
    }
    response = requests.get(api_url, params=params)
    if response.status_code == 200:
        data = response.json()
        entry = {
            'city': location['region'],  # City or region
            'latitude': location['latitude'],  # Latitude
            'longitude': location['longitude'],  # Longitude
            'zipcode': location['zipcode'],  # Zipcode
            'temperature': data['main']['temp'],  # Temperature in Celsius
            'feels_like': data['main']['feels_like'],  # Feels like temperature
            'timestamp_utc': datetime.now(timezone.utc).strftime('%Y-%m-%d %H:%M:%S')  # Timestamp in UTC
        }
        current_weather_data.append(entry)
    else:
        print(f"Failed to fetch data for {location['zipcode']}: {response.status_code}")

In [5]:
# Convert the list to a DataFrame
df = pd.DataFrame(current_weather_data)

In [6]:
# Database connection URL
connection_url = sa.engine.URL.create(
    drivername = "mssql+pyodbc",
    username   = "wyx0108",
    password   = "2024!Schulich",
    host       = "mban2024-ms-sql-server.c1oick8a8ywa.ca-central-1.rds.amazonaws.com",
    port       = "1433",
    database   = "wyx0108_db",
    query = {
        "driver" : "ODBC Driver 18 for SQL Server",
        "TrustServerCertificate" : "yes"
    }
)

In [7]:
# Create the database engine
engine = sa.create_engine(connection_url)

In [8]:
# Insert into database with specified data types
df.to_sql(
    name='current_weather',
    con=engine,
    schema='uploads',
    if_exists='replace',
    index=False,
    dtype={
        'city': sa.types.VARCHAR(100),
        'latitude': sa.types.FLOAT,
        'longitude': sa.types.FLOAT,
        'zipcode': sa.types.VARCHAR(10),
        'temperature': sa.types.DECIMAL(5, 2),
        'feels_like': sa.types.DECIMAL(5, 2),
        'timestamp_utc': sa.types.DATETIME  # Changed from TIMESTAMP to DATETIME
    },
    method='multi'
)

print("Current weather data has been successfully fetched and stored.")

Current weather data has been successfully fetched and stored.

In [9]:
df.head()

,city,latitude,longitude,zipcode,temperature,feels_like,timestamp_utc
0,Toronto,43.780775,-79.400830,M2N4N1,24.69,25.20,2024-08-02 03:00:53
1,Toronto,43.810684,-79.319894,M1W3H2,24.60,25.07,2024-08-02 03:00:53
2,Toronto,43.669915,-79.293042,M4E2X1,25.40,26.01,2024-08-02 03:00:53
3,Toronto,43.641356,-79.505240,M8Y3T4,25.34,25.94,2024-08-02 03:00:53
4,Toronto,43.793331,-79.412032,M2M3E3,24.65,25.16,2024-08-02 03:00:53